body{
	background-color: #fcfcfc;
}
/*导航开始*/
/*大屏导航样式 开始*/
.max-nav .logo{
	float: left;
	height: 76px;
	margin-top: 6px;
}
.max-nav .nav-list-box{
	float: right;
	height: 100%;
}
.max-nav .nav-list{
	float: left;
	height: 100%;
}
.nav-list .nav-over{
	visibility: hidden;
	color:#fff;
	font-size: 16px;
	
}
.nav-list .nav-out{
	visibility: visible;
	color:#c0c2c3;
	font-size: 16px;
	position: absolute;
	margin:0 auto;
	left:0;
	right:0;
}
.nav-list li{
	position: relative;
	padding:0 25px;
	float: left;
	text-align: center;
	line-height: 88px;
}
.nav-list span{
	width:0;
	float: left;
	color:#333f4d;
	font-size: 12px;
	line-height: 88px;
}
.nav-list .nav-hot,.nav-list li:hover{
	background:#4498fe;
	line-height: 85px;
	border-bottom:1px solid #fff;
	/*background: url(../images/hnz-nav-bg.jpg) no-repeat 0 center;*/
}
.nav-list li:hover .nav-over,.nav-list .nav-hot .nav-over{
	visibility: visible;
}
.nav-list li:hover .nav-out,.nav-list .nav-hot .nav-out{
	visibility: hidden;
}

.nav-bar{
	height: 88px;
	float: left;
	margin-left: 25px;
}
.nav-bar li{
	float: left;
	width:38px;
	height:38px;
	padding:9px;
	background: url(../images/hnz-nav-out-bg.jpg) no-repeat 0 0;
	margin: 25px 0 0 25px;
}
.nav-bar li:hover{
	background: url(../images/hnz-nav-over-bg.jpg) no-repeat 0 0;
}
.nav-bar a{
	display: block;
	width:20px;
	height:20px;
}
.nav-bar a img{
	display: block;
}

.nav-search-box{
	width:422px;
	height:70px;
	background:#f6f6f6;
	border-left:5px solid #f0f0f0;
	border-right:3px solid #f74e1a;
	border-radius:5px 0 0 5px;
	position:relative;
	position: absolute;
	z-index: 0;
	right:0;
	top:88px;
}
.nav-search-box:before{
	content:'';
	position:absolute;
	width:350px;
	right:0;
	top:-9px;
	transform:rotate(1deg);
	height:5px;
	box-shadow: 5px 3px 10px #555;
}
.nav-search-box input[type=text]{
	width: 290px;
	border:0;
	padding-left:10px;
	height: 30px;
	outline: 0;
	float: left;
	background: none;
}
.nav-search-box input[type=submit]{
	width:30px;
	height:30px;
	border:0;
	outline: 0;
	float: right;
	background: url(../images/hnz-search-btn.jpg) no-repeat center center;
}
.nav-search-box form{
	width:330px;
	height: 30px;
	position: absolute;
	margin:auto;
	left:0;
	top:0;
	bottom: 0;
	right:0;
}
.search-line{
	position: absolute;
	bottom: 0;
	width:100%;
	height:0;
	border:1px solid #c5c5c5;
}
.search-line:before,.search-line:after{
	content: '';
	position: absolute;
	width:3px;
	height:3px;
	background: #a4a4a4;
	border-radius:50%;
	
	top:-2px;
}
.search-line:before{
	left:-1px;
}
.search-line:after{
	right: -1px;
}
/*大屏导航样式 结束*/
/*小屏导航样式 开始*/
.min-nav-btn{
	height: 100%;
	line-height: 0;
	padding:0 6px;
	text-align: justify;
}
.min-nav-btn:after{
	content: '';
	width: 100%;
	display: inline-block;
	height:0;
	line-height: 0;
}
.min-nav-btn li{
	display: inline-block;
	vertical-align: top;
}
.min-nav-btn li img{
	vertical-align: top;
}
.min-nav-btn .min-nav-more{
	width:30px;  
	height:100%;  
	padding:21px 7px;
	background: url(../images/hnz-nav-out-bg.jpg) no-repeat 0 center;
	background-size:30px 30px;
}
.min-nav-btn .min-nav-more img{
	width:15px;
	display: block;
}
.min-nav-btn .min-nav-logo{
	line-height: 0;
	height: 40px;
	margin:5px 0;
}
.min-nav-btn .min-nav-logo img{
	height: 100%;
}
.min-nav-btn .min-nav-bar{
	height:100%;  
	padding:11px 0;
}
.min-nav-bar div{
	float:left;
	height: 30px;
	width: 30px;
	padding:7px;
	margin-left:10px;
	background: url(../images/hnz-nav-out-bg.jpg) no-repeat 0 0;
	background-size:30px 30px;
}
.min-nav-bar div img{
	width: 15px;
}
.min-nav-bar div:active,.min-nav-more:active,.min-nav-more.active{
	background: url(../images/hnz-nav-over-bg.jpg) no-repeat 0 center;
	background-size:30px 30px;
}
.min-nav-list{
	width:100%;
	height:0;
	overflow: hidden;
	text-align: center;
	line-height: 40px;
	transition: height .3s;
	-webkit-transition: height .3s;
}
.min-nav-list a{
	display: block;
	width:50%;
	height: 40px;
	float: left;
	color:#9d9c9c;
	background: #303539;
	border-bottom: 1px solid #3c4146;
}
.min-nav-list a:nth-child(2n){
	border-left:1px solid #3c4146;
}
.min-nav-list a:active{
	background: #4b97ff;
	color:#fff;
}
/*小屏导航样式 结束*/

/*banner 开始*/
.hnz-banner-box{
	width: 100%;
	overflow:hidden;
	position: relative;
}
.hnz-banner li a{
	display: block;
	width: 100%;
}

.hnz-banner-index{
	width:90px;
	height: 10px;
	position: absolute;
}
.hnz-banner-index li{
	width:10px;
	height: 10px;
	background: #fff;
	float:left;
	margin-right:5px;
	border-radius: 5px;
	transition: width .3s;
	-webkit-transition: width .3s;
}
.hnz-banner-index .hnz-banner-hot{
	width:40px;
}
.hnz-banner-btn{
	width:100%;
	padding:0 4%;
	height: 0px;
	position: absolute;
	z-index: 9999;
	top:50%;
	margin-top: -30px;
}
.hnz-banner-btn .hnz-left,.hnz-banner-btn .hnz-right{
	width:50px;
	height:50px;
	border-radius: 50%;
	background-color: #fff;
	border:5px solid #29373D;
	color:#333;
	text-align: center;
	line-height: 40px;
	font-size: 32px;
	font-family: '宋体';
}
.hnz-banner-btn .hnz-left{
	float: left;
}
.hnz-banner-btn .hnz-right{
	float: right;
}
.hnz-banner-btn span:hover{
	cursor:pointer;
	background-color: #398CFD;
	border:5px solid #29373D;	
	color:#fff;
}
/*banner 结束*/
/*课程体系开始*/
.course-box{
	z-index: 99999;
	padding-bottom: 100px;
	position: relative;
	overflow: hidden;
}
.course-box>div{
	background-color: #fcfcfc;
}
.course .course-icon{
	display: block;
	width:100%;
	border-radius: 50%;
}
.course li:nth-child(1) .course-icon{
	background: #fb7d29 url(../images/hnz-mobile-icon.jpg) no-repeat center center;
}
.course li:nth-child(2) .course-icon{
	background: #3899f0 url(../images/hnz-pc-icon.jpg) no-repeat center center;
}
.course li:nth-child(3) .course-icon{
	background: #ef3f64 url(../images/hnz-qb-icon.jpg) no-repeat center center;
}
.course li:nth-child(4) .course-icon{
	background: #5fa62c url(../images/hnz-php-icon.jpg) no-repeat center center;
}
.course h3{
	font-weight: normal;
	text-align: center;
	color:#404040;
}
.course span{
	display: block;
	width: 30px;
	height:0;
	border-top:1px solid #d9d9d9;
	margin:0 auto 20px;
}
.course p{
	text-align: center;
	line-height: 1.5;
}
.course .course-more{
	margin:20px auto;
	display: block;
	text-align: center;
	line-height: 18px;
	font-size: 12px;
	color:#999;
	width:68px;
	height:18px;
	border:1px solid #d4d4d4;
	background-color: #f4f4f4;
	border-radius:10px;
}
/*课程体系结束*/

/*学生作品开始*/
.student-works-out{
	border-top: 1px solid #e8e8e8;
	width: 100%;
	height: 1760px;
	background: #f7f7f7 url(../images/hnz-student-works-bg.jpg) no-repeat center bottom;
	position: relative;
}
.xiangpi{
	width: 190px;
	height: 100px;
	position: absolute;
	background: url(../images/hnz-xiangpi.png) no-repeat 0 0;
	top:-60px;
	right:5%;
}

.student-top .s-t img{
	height: 100%;
	float: left;
}
.student-more{
	float: right;
	margin-top: 64px;
	width:136px;
	height: 28px;
	text-align: center;
	line-height: 28px;
	font-size: 14px;
}
.student-more .s-m-l{
	float: left;
	width:108px;
	height:28px;
	border:1px solid #d3d3d3;
	border-right:0;
	color:#888888;
}
.student-more .s-m-l b{
	font-weight: bold;
}
.student-more .s-m-r{
	float: right;
	width: 28px;
	height: 28px;
	background: #f66b1f;
	color:#fff;
}
.student-top .s-b{
	height: 34px;
	color:#9f9f9f;
	font-size: 20px;
	line-height: 34px;
}
.student-top .s-b span{
	float: left;
	width: 120px;
	letter-spacing: 8px;
	height: 100%;
}
.student-top .s-b-r{
	float: right;
	width:89%;
	margin-top: 22px;
	border-top:1px solid #ddd;
	position: relative;
}
.student-top .s-b-r:before,.student-top .s-b-r:after{
	content: '';
	position: absolute;
	width:5px;
	height:5px;
	top:-3px;
	border-radius: 50%;
	background: #ddd;
}
.student-top .s-b-r:before{
	left:0;
}
.student-top .s-b-r:after{
	right: 0;
}
.student-lists{
	
}
.stu-l-t{
	height: 170px;
	text-align: center;
}
.stu-l-t a{
	display: inline-block;
	padding-left:15px;
	padding-top: 10px;
	text-align: left;
	margin:52px 26px;
	width:115px;
	height: 66px;
}
.stu-l-t span{
	display: block;
	line-height: 20px;
	height:20px;
}
.stu-l-t .zh{
	font-size: 18px;
	color:#898989;
}
.stu-l-t .en{
	font-size: 14px;
	color:#c0c0c0;
}
.stu-l-list{
	padding:0 10px;
}
.student-lists ul{
	display: none;
}
.student-lists ul:first-child{
	display: block;
}
.stu-l-list li{
	padding:5px;
	height: 393px;
	position: relative;
	overflow: hidden;
}
.stu-l-list li:nth-child(9)~li{
	display: none!important;
}
.stu-l-list li:hover .stu-l-info{
	opacity: 1;
}
.stu-l-list img{
	width: 100%;
}
.stu-l-info{
	height: 100%;
	width: 100%;
	position: absolute;
	top:0;
	left:0;
	padding:5px;
	text-align: center;
	opacity: 0;
	transition: opacity .4s;
	-webkit-transition: opacity .4s;
}
.stu-l-info img{
	position: absolute;
	width: 45px;
	height: 45px;
	top:0;
	margin:100px auto 0;
	left:0;
	right: 0; 
}
.stu-l-info b{
	position: absolute;
	top:170px;
	display: block;
	width: 100%;
	font-size: 22px;
	color:#fff;
}
.stu-l-info p{
	position: absolute;
	top:220px;
	padding:0 60px;
	font-size: 14px;
	line-height: 1.5;
	color: #e3e3e3;
}
.stu-time{
	position: absolute;
	top:290px;
	display: block;
	width: 100%;
	color: #a7aeb8;
}
.stu-line{
	position: absolute;
	display: block;
	width: 30px;
	top:210px;
	margin:0 auto;
	left:0;
	right: 0;
	border-top:1px solid #fff;
}
.info-bg{
	background-clip:content-box ;
	opacity: 0.8;
	width: 100%;
	height: 100%;
	background: #364659;
}
.hnz-stu-hot{
	background: url(../images/hnz-stu-navbg.jpg) no-repeat 0 0; 
}
.hnz-stu-hot .zh{
	color:#fff;
}
.hnz-stu-hot .en{
	color:#a8d5fd;
}
/*学生作品结束*/
@media screen and (min-width: 769px) {
	.max-nav{
		display: block;
	}
	.min-nav{
		display: none;
	}
	.nav-box{
		height:87px;
		background-color: #212e3e;
		border-bottom:1px solid #32455c;
		width:100%;
		position: absolute;
		z-index: 99;
	}
	
	/*banner*/
	.hnz-banner-box{
		height:710px;
		position: relative;
		border-bottom:4px solid #ef3f64;
	}
	.hnz-banner{
		height: 710px;
	}
	.hnz-banner li{
		position: absolute;
		top:0;
		left:0;
		width:100%;
		overflow: hidden;
		height:710px;
	}
	.hnz-banner li img{
		left:50%;
		margin-left:-960px;
		position: relative;
	}
	.hnz-banner li a{
		display: block;
		width: 100%;
		height: 710px;
	}	
	.hnz-banner-index{
		bottom:115px;
		left:50%;
		margin-left:-45px;
	}

	/*课程体系*/
	.course-box{
		border-top:4px solid #3899f0;
		position: relative;
		z-index: 99999;
		margin:-75px auto 0;
		padding-bottom: 100px;
		position: relative;
	}
	.course-box:before,.course-box:after{
		content:'';
		position: absolute;
		width:10px;
		height:200px;
		top:65px;
		box-shadow: -10px  0px 15px  #888;
		transform:rotate(-3deg);
		z-index:-1;
	}
	.course-box:before{
		left:10px;
	}
	.course-box:after{
		right:10px;
		box-shadow: 10px  0px 15px  #888;
		transform:rotate(3deg);
	}
	.course-box h2{
		text-align: center;
		padding:55px;
	}
	.course .course-icon{
		display: block;
		max-width:100px;
		width:100%;
		height: 100%;
		margin:40px auto 0;
		max-height:100px;
		border-radius: 50%;
	}
	.course li{
		height:416px;
	}
	.course li:hover{
		background:url(../images/hnz-course-over.jpg) no-repeat top center;
	}
	.course li:hover .course-icon{
		border:3px solid #fff;
		box-shadow: 0 0 5px #ccc;
	}
	.course li:hover .course-more{
		border:1px solid #464646;
		background-color: #464646;
		color:#fff;
	}
	.course h3{
		font-size: 20px;
		margin:40px 0 20px;
	}
	/*学生作品*/
	.student-inner{
		height:1500px;
	}
	.student-top{
		margin-top: 63px;
		height: 126px;
	}
	.student-top .s-t{
		height: 92px;
		overflow: hidden;
	}
}
@media screen and (max-width: 768px) {
	.max-nav{
		display: none;
	}
	.nav-box{
		height:50px;
		background-color: #212e3e;	
		position: relative;
		z-index: 99999;
	}
	.min-nav{
		height: 100%;
		display: block;
	}
	

	.hnz-banner-box{
		width: 100%;
		height:auto;
		border-bottom:0;
		position: relative;
	}
	.hnz-banner{
		width:100%;
		padding-top:53.1%;
		position: relative;
	}
	.hnz-banner li{
		width:100%;
		height:100%;
		top:0;
		position: absolute;
	}
	.hnz-banner li img{
		display: block;
		width: 100%;
	}
	.hnz-banner-index{
		bottom:20px;
		right:20px;
	}

	/*课程体系*/
	.course-box{
		padding-bottom: 30px;
	}
	.course-box ul.row{
		padding-left:16px;
		padding-right:16px;
	}
	.course-box .col-xs-3{
		padding-left:10px;
		padding-right:10px;
		height: auto;
	}
	.course-box h2{
		text-align: center;
		margin:20px;
	}
	.course-box h2 img{
		width: 60%;
	}
	.course .course-icon{
		/*height:100%;*/
		padding-top:100%;
		margin:10px auto;
	}
	.course h3{
		font-size: 14px;
		margin:20px 0;
	}
	.course span,.course p,.course .course-more{
		display: none;
	}
	.course li:active .course-icon{
		box-sizing: border-box;
		border:0px solid #fff;
		padding-top:100%;
		box-shadow: 0 0 0 4px  #ddd;
	}
	.course li:active h3{
		color:#999;
	}
	/*学生作品*/
	.student-inner{
		height:auto;
		padding:0 10px;
	}
	.student-lists{
		overflow: hidden;
		margin-top:15px;
	}
	.student-top{
		margin-top:0px;
		height: 50px;
		position: relative;
	}
	.student-top .s-t{
		margin-top: 20px;
		height: 50px;	
		overflow: hidden;
	}
	.student-top .s-b{
		height: 15px; 
    	font-size: 16px;
    	line-height: 0px; 
	}
	.student-top .s-b span{
		position: absolute;
		top:0;
		height:20px;
		line-height: 20px;
		left:70px;
		letter-spacing: 4px;
	}
	.student-top .s-b-r {
	    float: left;
	    width: 100%;
	    margin-top: 10px;
	    border-top: 1px solid #ddd;
	    position: relative;
	}

	.student-more{
		float: right;
		margin-top: 22px;
		width:90px;
		height: 25px;
		text-align: center;
		line-height: 25px;
		font-size: 12px;
	}
	.student-more .s-m-l{
		float: left;
		width:65px;
		height:25px;
		border:1px solid #d3d3d3;
		border-right:0;
		color:#888888;
	}
	.student-more .s-m-l b{
		font-weight: bold;
	}
	.student-more .s-m-r{
		float: right;
		width: 25px;
		height: 25px;
		background: #f66b1f;
		color:#fff;
	}
	.stu-l-t {
		width: 100%;
		padding-top:7px;
	    height: 60px;
	}
	.stu-l-t a{
		padding-left:0px;
		padding-top: 0px;
		text-align: center;
		margin:2px 0px;
		width:19%;
		height: 45px;
	}
	.stu-l-t span{
		line-height: 16px;
		height:16px;
	}
	.hnz-stu-hot {
		color:#fff;
		border-radius: 5px;
		background: #4498fe;
		background-size: auto 100%;
	}
	.hnz-stu-hot .zh{
		color:#fff!important;
	}
	.hnz-stu-hot .en{
		color:#ddd!important;
	}
	.stu-l-t .zh{
		margin-top:10px;
		font-size: 12px;
		color:#898989;
	}
	.stu-l-t .en{
		font-size: 10px;
		color:#c0c0c0;
	}

	.stu-l-list li{
		height: auto;
	}
	.stu-l-list li:nth-child(8)~li{
		display: none!important;
	}
	.stu-l-info img{
		width: 25px;
		height: 25px;
		margin:20% auto 0; 
	}
	.stu-l-info b{
		top:35%;
		font-size: 16px;
	}
	.stu-l-info p{
		top:48%;
		padding:0 15px;
		font-size: 12px;
		line-height: 1.25;
	}
	.stu-time{
		top:80%;
	}
	.stu-line{
		display: none;
	}
	.student-works-out{
		height: auto;
		padding-bottom: 50px;
		background: #f7f7f7 url(../images/hnz-student-works-bg.jpg) no-repeat center bottom;
		background-size: 160%;
	}
}
/*导航结束*/