.ms-about{
	width:100%;
	height:100px;
	background-image: url(../images/ms_about.png);
	background-repeat: no-repeat;
	margin:10px 0;
}
body{
}
.ms-yinhao{
	margin:10px 0;
}
.ms-about-h1{
	width:90%;
	padding:10px 0;
	font-size: 20px;
	color:#000;
	font-weight: bold;
}
.ms-about-title{
	width:90%;
	padding:10px 0;
	font-size: 16px;
	color:#383838;
	font-weight: bold;
}
.ms-icon{
	width:70%;
}
.ms-huanjing{
	width:100%;
	height:100px;
	background-image: url(../images/ms_huanjing.png);
	background-repeat: no-repeat;
	margin:10px 0;
}
.ms-huanjing-tu{
	width:100%;
	margin-bottom:30px;
}
.ms-lianxi{
	width:100%;
	height:100px;
	background-image: url(../images/ms_lianxi.png);
	background-repeat: no-repeat;
	margin:10px 15px;
}
.ms-col-center{
	text-align: center;
	padding:15px 0;
}
.icon-location{
	font-family: "iconfont";
	font-size: 40px;
}
.icon-dianhua{
	font-family: "iconfont";
	font-size: 40px;
}
.ms-position{
	width:80%;
	font-size: 18px;
	color:#000;
	margin:10px auto;
	font-weight: bold;

}
.ms-position-italic{
	width:70%;
	font-size: 18px;
	color:#848484;
	margin:10px auto;

}
 .ms-col-center{
 	padding:50px 0;
 }

 .ms-input-kuang{
 	width:100%;
 	border-bottom:1px solid #989898;
 	font-size: 20px;
 	margin:20px 0;
 	color:#989898;
 }
  .ms-input-kuang input{
  	width:80%;
  	border:0px;
  	outline: none;
  }
  .ms-submit{
  	width:100%;
  	height:40px;
  	line-height: 40px;
  	text-align: center;
  	border:1px solid #989898;
  	border-radius: 10px;
  	font-size: 20px;
  	margin: 20px 0;
  }
@media screen and (max-width:768px ) {
	.hidden-xs{
		display: none;
	}
	.ms-about{
	width:100%;
	height:80px;
	background-image: url(../images/ms_about_xiangying.png);
	background-repeat: no-repeat;
	background-size: 100%;
	margin:10px 0;
	}
	.ms-huanjing{
	width:100%;
	height:80px;
	background-image: url(../images/ms_huanjing_xiangying.png);
	background-repeat: no-repeat;
	background-size: 100%;
	margin:10px 0;
	}
	.ms-lianxi{
		width:100%;
		height:80px;
		background-image: url(../images/ms_lianxi_xiangying.png);
		background-repeat: no-repeat;
		background-size: 100%;
		margin:10px 15px;
	}
	.ms-col-center{
 	padding:10px 0;
 }
}

}	    
