
/*wlh-底部开始*/
.wlh-footerbox{
	width: 100%;
	height: 640px;
	background-image: url(../images/wlh-footer.jpg);
	background-size: 100% 100%;
}
.wlh-footer{
	width: 100%;
	height: 339px;
	background-image:url(../images/wlh-footerbg1.png);
	background-size:100% 100%;
	margin-top: 96px;
	margin-bottom: 75px;
}
.wlh-erweibox{
	padding-top: 25px;
	padding-bottom: 15px;
}
.wlh-erwei{
	margin-top: 
}
.wlh-erwei img{
    width: 100%;
    height: 100%;
}
.wlh-weibo{
	padding-top: 30px;
	line-height: 24px;
}
.wlh-weibo li a{
	color: #7e898f;
}
.wlh-phone{
	font-size: 40px;
	font-family: "微软雅黑";
	letter-spacing:-2px;
	line-height: 90px;
	font-weight: bold;
}
.wlh-zixun{
	height: 62px;
	background: #459bfd;
	border:2px solid #fff;
	text-align: center;
	box-sizing:border-box;
}
.wlh-zixun:hover{
	box-shadow: 0px 0px 7px rgba(0,0,0,0.5);
}
.wlh-word-one{
    color:#fff; 
    font-size: 16px;
    font-weight: bold;
    margin-top: 10px;
}
.wlh-word-two{
	color: #98c4fa;
}
.wlh-ditu{
	width:535px;
	height: 327px;
	background-image: url(../images/wlh-ditu.jpg);
	background-size: cover;
	margin-left: 45px; 
	margin-top: 5px;
}

.wlh-wenhua{
	letter-spacing:0px;
	margin-bottom: 30px;
	padding-left: 10px;
}
.wlh-wenhua-one{
	font-size: 30px;
	color: #565656;
}
.wlh-wenhua-one span{
	font-size: 15px;
	color: #c6c6c6;
	margin:0px 5px;
}
.wlh-wenhua-two{
	color: #636161;
}

.wlh-lxphone{
    color: #636161;
    height: 49px;
    border-bottom: 1px solid #eaeaea;
    padding-left: 10px;
    margin-bottom: 10px;
}
.wlh-lxphone span{
	float: left;
}
.wlh-lxphone-one{
   float: left;
   font-size: 16px;
   margin-left: 10px;
}
.wlh-qq{
	padding-left: 10px;
}
.wlh-qq-box p{
	float: left;
	margin-right: 22px;
}

.wlh-banben{
	border-top: 1px solid #454646;
	text-align: center;
	padding-top: 30px;
	color: #777676;
	font-size: 12px;
	position: relative;
}
.wlh-left{
	width: 5px;
	height: 5px;
	background-color: #454646;
	border-radius: 50%;
	position: absolute;
	left: -3px;
	top:-3px;
}
.wlh-right{
	width: 5px;
	height: 5px;
	background-color: #454646;
	border-radius: 50%;
	position: absolute;
	right: -3px;
	top:-3px;
}
/*wlh-底部结束*/

@media screen and (max-width: 768px) {   

	/*wlh-底部开始*/
	.wlh-footerbox{
		height: auto;
		background-image: none;
		background-color: #202529;
	}
	.wlh-footer{
		width: 100%;
		height: auto;
		background:#fff;
		margin-top: 0px;
		margin-bottom: 0px;
	}
	.wlh-erwei{
		padding:0px 5px;
	}
	.wlh-erwei img{
		width: 100%;
		height: 100%;
		margin-top: 18px;
	}
	.wlh-weibo{
		display: block;
	}
	.wlh-phone{
		line-height: 40px;
		font-size: 150%;
		letter-spacing:-2px;
		margin-top: 5px;
		padding:0px;
	}
	.wlh-zixunbox{
		padding:10px 5px;
	} 
    .wlh-zixun{
        
    	height: 80px;
    }
    .wlh-zhuan{
    	padding:0px;
    }
    .wlh-wenhua{
    	padding-left: 0;
    }
    .wlh-wenhua-one{
		font-size: 16px;
		color: #565656;
	}
	.wlh-wenhua-two{
		font-size: 10px;
	}
	.wlh-wenhua-one span{
		font-size: 14px;
		color: #c6c6c6;
		margin:0px 5px;
	}

	.wlh-word-one{
	    margin-top: 20px;
	}
	.wlh-word-two{
	    margin-bottom: 25px;
	}

	.wlh-ditu{
		width: 100%;
		height: 298px; 
		margin-top: 5px;
		margin-left: 0px;
	}

	.wlh-banben{
		border-top: none;
		line-height: 40px;
		padding-top: 0px;
	}
	.wlh-right,.wlh-left{
		display: none;
	}
	/*wlh-底部结束*/
}